html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex-shrink: 0;
}

.card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border: none;
    border-radius: 10px;
}

footer {
    background-color: #212529;
    color: #f8f9fa;
    margin-top: auto;
}